p{
    text-align: center;
}
address{
    text-align: center;
}
main{
    text-align: center;
}
header{
    font-family:sans-serif, Arial, Helvetica;
    text-align: center;
    font-size: x-large;
}
hr{
    max-width: 400px;
}
footer{
    /* Red, Green, Blue , alpha (transparency */
    background-color: rgba(173, 216, 230, 0.5);
    max-width: 400px;
}
