p{
    text-align: center;
}
address{
    text-align: center;
}
main{
    text-align: center;
}
header{
    font-family:sans-serif, Arial, Helvetica;
    text-align: center;
}
hr{
    max-width: 400px;
}
footer{
    /* Red, Green, Blue , alpha (transparency */
    background-color: rgba(173, 216, 230, 0.5);
    max-width: 400px;
    text-align: center;
    margin: auto;
}
#title{
    font-size: 32pt;
}
#pageTop{
    display: inline-block;
    /* Removes the bullet points */
    list-style-type: none;
    margin: auto;
    /*Adds space between the elements in the list */
    gap: 20px;
}